name: Sirsak App CI

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [main]
  pull_request:
    paths:
      - "lib/**"
      - "test/**"
      - "packages/**"
      - ".github/workflows/sirsak_app.yaml"
      - "pubspec.yaml"
      - "pubspec.lock"

jobs:
  semantic-pull-request:
    uses: VeryGoodOpenSource/very_good_workflows/.github/workflows/semantic_pull_request.yml@v1

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: 3.38.3
          channel: "stable"
          cache: true

      - name: Cache Pub Dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.pub-cache
            .dart_tool
          key: ${{ runner.os }}-pub-${{ hashFiles('pubspec.lock') }}
          restore-keys: |
            ${{ runner.os }}-pub-

      - name: Install Dependencies
        run: flutter pub get

      - name: Generate Code
        run: |
          flutter pub run build_runner build --delete-conflicting-outputs
          flutter gen-l10n

      - name: Format
        run: dart format --set-exit-if-changed lib test

      - name: Analyze
        run: flutter analyze lib test

      - name: Run Tests
        run: flutter test --no-pub --test-randomize-ordering-seed random --coverage

      # - name: Check Coverage
      #   uses: VeryGoodOpenSource/very_good_coverage@v3
      #   with:
      #     min_coverage: 50

  spell-check:
    uses: VeryGoodOpenSource/very_good_workflows/.github/workflows/spell_check.yml@v1
    with:
      config: .github/cspell.json
